<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header.ejs') %>

</head>

<body id="top">
    <%- include('layouts/navdash.ejs') %>
        <main>
            <article>
                <section class="section hero" style="background-image: url('./assets/images/hero-bg.png')"
                    aria-label="home">
                    <div class="container">
                        <div class="hero-content">
                            <h2>CRUD MEDICINE</h2>
                            <form id="medicineForm" action="/medicine" method="POST" enctype="multipart/form-data">
                                <input type="file" name="image">
                                <input type="text" name="title" placeholder="Title">
                                <textarea name="description" placeholder="Description"></textarea>

                                <button type="button" onclick="submitFormMedicine()">Add Medicine</button>
                            </form>
                            <p class="hero-subtitle has-before" data-reveal="left">Crud Medicine</p>
                            <h1 class="headline-lg hero-title" data-reveal="left">
                                Layanan Informasi
                                Cepat Dan Tepat. <br>
                            </h1>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <div class="box-container">
            <% todoListItems.forEach(item=> { %>

                <div class="box <%= item.role %>">
                    <img src="../uploads/<%= item.image %>" alt="<%= item.image %>">
                    <h3>
                        <%= item.title %>
                    </h3>
                    <pc class="description">
                        <%= item.description %>
                    </pc>
                    <form id="deleteForm_<%= item._id %>" action="/medicine/<%= item._id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <div class="button-edit-group">
                        <button type="button" class="delete-button"
                            onclick="deleteMedicine('<%= item._id %>')">Hapus</button>
                        <button type="button" class="edit-button"
                            onclick="showEditForm('<%= item._id %>')">Edit</button>
                    </div>
                </div>

                <div id="editFormContainer_<%= item._id %>" class="box" style="display: none;">

                    <form id="editForm_<%= item._id %>" method="POST" action="/medicine/<%= item._id %>?_method=PUT"
                        enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT">
                        <input type="text" name="title" class="editTitle" placeholder="Title" value="<%= item.title %>">
                        <textarea name="description" class="editDescription"
                            placeholder="Description"><%= item.description %></textarea>

                        <input type="file" name="image" class="editImage">
                        <div class="button-edit-group">
                            <button type="submit" class="save-button">Update</button>
                            <button type="button" class="cancel-button"
                                onclick="cancelEditForm('<%= item._id %>')">Batal</button>
                        </div>
                    </form>
                </div>
                <% }) %>
        </div>

        <form id="updateForm" style="display: none;" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <input type="text" name="title" id="updateTitle" placeholder="Title">
            <textarea name="description" id="updateDescription" placeholder="Description"></textarea>

            <input type="file" name="image" id="updateImage">
            <button type="button" onclick="submitUpdateForm()">Simpan</button>
        </form>


        <script src="/js/script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <script>
            function showEditForm(medicineId) {
                var editFormContainer = document.getElementById('editFormContainer_' + medicineId);
                if (editFormContainer.style.display === 'none') {
                    // Sembunyikan semua form edit terlebih dahulu
                    var allEditFormContainers = document.querySelectorAll('[id^="editFormContainer_"]');
                    allEditFormContainers.forEach(container => {
                        container.style.display = 'none';
                    });

                    // Tampilkan form edit yang sesuai
                    editFormContainer.style.display = 'block';
                } else {
                    // Sembunyikan form edit
                    editFormContainer.style.display = 'none';
                }
            }
            function cancelEditForm(medicineId) {
                var editFormContainer = document.getElementById('editFormContainer_' + medicineId);
                editFormContainer.style.display = 'none';
            }

            function submitEditForm(medicineId) {
                var form = document.getElementById("editForm_" + medicineId);
                var formData = new FormData(form);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", form.action, true);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log("Perubahan berhasil disimpan!");
                        window.location.reload();
                    } else {
                        console.error("Terjadi kesalahan saat menyimpan perubahan.");
                    }
                };
                xhr.onerror = function () {
                    console.error("Terjadi kesalahan koneksi.");
                };
                xhr.send(formData);
            }

            function submitFormMedicine() {
                var form = document.getElementById("medicineForm");
                var formData = new FormData(form);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", form.action, true);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log("Obat berhasil ditambahkan!");
                        window.location.reload();
                    } else {
                        console.error("Terjadi kesalahan saat menambahkan obat.");
                    }
                };
                xhr.onerror = function () {
                    console.error("Terjadi kesalahan koneksi.");
                };
                xhr.send(formData);
            }

            function submitUpdateForm() {
                var form = document.getElementById("updateForm");
                var formData = new FormData(form);

                var xhr = new XMLHttpRequest();
                xhr.open("PUT", form.action, true);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log("Perubahan berhasil disimpan crudMedicine!");
                        window.location.reload();
                    } else {
                        console.error("Terjadi kesalahan saat menyimpan perubahan.");
                    }
                };
                xhr.onerror = function () {
                    console.error("Terjadi kesalahan koneksi.");
                };
                xhr.send(formData);
            }

            function deleteMedicine(medicineId) {
                if (confirm("Apakah Anda yakin ingin menghapus obat ini?")) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("DELETE", "/medicine/" + medicineId, true);
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            console.log("Obatberhasil dihapus!");
                            window.location.reload();
                        } else {
                            console.error("Terjadi kesalahan saat menghapus obat.");
                        }
                    };
                    xhr.send();
                }
            }
        </script>

</body>

</html>