<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
<body id="top">
  <%- include('layouts/navbar.ejs') %>
  
  <form action="/doctors" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="text" name="title" placeholder="Title">
    <textarea name="description" placeholder="Description"></textarea>
    <button type="submit">Add Doctor</button>
  </form>
  <div class="box-container">
    <% todoListItems.forEach(item => { %>
        <div class="box">
          <img src="../uploads/<%= item.image %>" alt="<%= item.image %>">
          <h3><%= item.title %></h3>
          <p><%= item.description %></p>
        </div>
    <% }) %>
  </div>
  

  <script src="./js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>