<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/header.ejs') %>
</head>

<body id="top">
  <%- include('layouts/navbar.ejs') %>
    <main>
      <article>
        <section class="section hero" style="background-image: url('./assets/images/hero-bg.png')" aria-label="home">
          <div class="container">
            <div class="hero-content">
              <p class="hero-subtitle has-before" data-reveal="left">Pusat Dokter</p>
              <div class="filter-container">
                <select id="roleFilter">
                  <option value="">Semua</option>
                  <option value="Kulit">Spesialis Kulit</option>
                  <option value="Anak">Spesialis Anak</option>
                  <option value="Saraf">Spesialis Saraf</option>
                  <option value="Jantung">Spesialis Jantung</option>
                  <option value="Mata">Spesialis Mata</option>
                  <option value="Mata">Spesialis Psikolog</option>
                </select>
              </div>
              <div class="sorting-section">
                <select id="sort">
                  <option value="desc">Rating Tertinggi ke Terendah</option>
                  <option value="asc">Rating Terendah ke Tertinggi</option>
                </select>
              </div>
              <h1 class="headline-lg hero-title" data-reveal="left">
                Layanan Informasi Cepat Dan Tepat. <br>
              </h1>
            </div>
          </div>
        </section>
      </article>
    </main>
    <div class="box-container" id="boxContainer">
      <% todoListItems.forEach(item=> { %>
        <div class="box" data-specialization="<%= item.specialization %>" data-rating="<%= item.rating %>">
          <img src="../uploads/<%= item.image %>" alt="<%= item.image %>">
          <h3>
            <%= item.title %>
            <p class="rating">
              <% for (let i=0; i < item.rating; i++) { %>
                <ion-icon name="star"></ion-icon>
                <% } %>
            </p>
          </h3>
          <p>
            <%= item.description %>
          </p>
        </div>
        <% }) %>
    </div>
    <%- include('layouts/footer.ejs') %>

      <script src="./js/script.js"></script>
      <script src="/js/doctor.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>